export const FIREBASE_API_KEY="WEB API KEY from firebase";
export const FIREBASE_AUTH_DOMAIN="AUTH DOMAIN from firebase";
export const FIREBASE_DATABASE_URL="Database URL from firebase";
export const FIREBASE_BUCKET="<some name>";
